<head>
    <link href="~/css/site.css" rel="stylesheet">
</head>

<footer>
    <div class="footer-nav-1 row">

        <section class="footer-container  center">

            <div class="footer-col-1">

                <div class="footer-list center">
                    <label class="footer-titulo">10% Off no 1º Pedido</label>
                    <div class="promo">
                        <a asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="~/images/promocao.png" asp-append-version="true" />
                        </a>
                    </div>
                </div>
            </div>

            <div class="footer-col-2">

                <ul class="footer-list">
                    <label class="footer-titulo">Um Pouco Sobre Nós</label>
                    <li>Fundada em 2012</li>
                    <li>Opções Vegetarianas</li>
                    <li>Atendemos por Delivery</li>
                    <li>Entregas em até 60 minutos</li>
                </ul>
            </div>

            <div class="footer-col-3">
                <ul class="footer-list">
                    <label class="footer-titulo">Venha nos conhecer!</label>
                    <li>Rua: Jornalista Joaquim Ferrero Nascimento</li>
                    <li>Bairro: Pituba</li>
                    <li>Número: 77</li>
                    <li>Telefone: +55 (71)99290-3041</li>

                </ul>
            </div>
        </section>

        <section class="footer-container2  center">

            <div class="">
                <a href="https://www.instagram.com/cantinadigabi/">
                    <img src="~/images/whatsapp_48.png" asp-append-version="true" />
                </a>
            </div>

            <div class="icon2">
                <a href="https://www.instagram.com/cantinadigabi/">
                    <img src="~/images/instagram_48.png" asp-append-version="true" />
                </a>
            </div>

            <div class="">
                <a href="https://www.instagram.com/cantinadigabi/">
                    <img src="~/images/facebook_48.png" asp-append-version="true" />
                </a>
            </div>

        </section>

        <section class="footer-container3 center">
            <div class="">
                &copy; 2022 - CantinaDiGabi
            </div>
        </section>

    </div>


</footer>