:root {
    --color-marrom: #333528;
    --color-verde: #7a9f36;
    --color-preto: black;
    --color-branco: #f5f4f0;
    --color-sombra: #888888;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.center {
    justify-content: center;
}

.row {
    flex-direction: row;
}

.flex-start {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
}

.footer-container {
    width: 100vw;
    display: flex;
    margin: 0px;
}

.footer-container2 {
    width: 100vw;
    display: flex;
    margin: 0px;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid var(--color-sombra);
}

.footer-container3 {
    width: 100vw;
    display: flex;
    margin-top: 10px;
}

.footer-nav-1 {
    background: var(--color-branco);
    width: 100vw;
    height: 360px;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-list {
    font-family: Monospace,Courier;
}

.footer-list li {
    list-style-type: square;
    font-size: 16px;
    margin-bottom: 5px;
    margin-left: 20px
}

.footer-titulo {
    font-family: Monospace,Courier;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-col-1 {
    width: 33vw;
    height: 150px;
    display: flex;
    justify-content: center;
}

.footer-col-2 {
    width: 33vw;
    border-right: 1px solid var(--color-sombra);
    border-left: 1px solid var(--color-sombra);
    display: flex;
    justify-content: center;
}

.footer-col-3 {
    width: 33vw;
    display: flex;
    justify-content: center;
}

.icon2 {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.promo {
    padding-left: 50px;
}
