:root {
    --color-marrom: #333528;
    --color-verde: #0db94b;
    --color-nude: #f5f4f0;
    --color-preto: black;
    --color-branco: white;
    --color-sombra: #888888;
    --color-laranja: #dd4d0e;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.center {
    justify-content: center;
}

.row {
    flex-direction: row;
}

.flex-start {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
}

.header-container {
    width: 100vw;
    display: flex;
    margin: 0px;
}

.header-nav-1 {
    width: 100vw;
    padding-left: 10vw;
    padding-right: 10vw;
    background: var(--color-branco);
    box-shadow: 10px 5px 5px var(--color-sombra);
}

.header-nav-2 {
    background: var(--color-nude);
}

.header-nav-3 {
    height: 50px;
    border-radius: 5px 5px 0px 0px;
    background: #2d9d55;
}

.header-nav-4 {
    width: 200px;
    margin-bottom: 10px;
    margin-right: 150px;
    padding-top: 10px;
}

.link-login {
    display: inline-block;
    border-radius: 10px;
    background-color: #a3b176;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    width: 80px;
    height: 30px;
    transition: all 0.5s;
    cursor: pointer;
}

.link-login span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.link-login span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.link-login:hover span {
    padding-right: 25px;
    color: var(--color-laranja);
}

.link-login:hover span:after {
    opacity: 1;
    right: 0;
    color: var(--color-laranja);
}

.link-login:hover {
    padding-right: 25px;
    color: black;
}

.item {
    margin: 5px;
    text-align: center;
    color: white;
    list-style: none;
}

.quantidade_carrinho {
    color: var(--color-verde);
}

.btn_logout {
    width: auto;
    color: #0db94b;
    margin-left: 100px;
}
