<head>
    <link href="~/css/site.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<div class="container">

    <div class="contato-box">
        <br />
        <h3>Queremos ouvir o que você tem a dizer</h3>

        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <br />

        <div class="contato-container">
            <form>
                <label for="fname">Nome Completo</label>
                <input type="text" id="nome" name="nome" placeholder="Seu nome...">

                <label for="lname">CPF</label>
                <input type="number" id="cpf" name="cpf" placeholder="000.000.000-00">

                <label for="lname">Telefone</label>
                <input type="tel" id="telefone" name="telefone" placeholder="+00 (00)000000-0000">

                <label for="subject">Assunto</label>
                <textarea id="assunto" name="assunto" placeholder="Escreva algo aqui..." style="height:200px"></textarea>

                <button onclick="EnviarEmail()">Enviar</button>
            </form>
        </div>

    </div>
</div>

<script>
    $(function() {
        $('#cpf').mask('000.000.000-00');
    });

    function EnviarEmail() {
        var nome = document.getElementById("nome").value;
        var telefone = document.getElementById("telefone").value;
        var cpf = $('#cpf').val();
        var assunto = $('#assunto').val();

        window.location.href = "mailto:jvmpr.dev@gmail.com?subject=Contato via pagina WEB&body=Olá, tudo bem ? Segue abaixo meus dados: %0D%0A %0D%0A Nome: " + nome + " %0D%0A Cpf: " + cpf + "%0D%0A Numero de telefone: " + telefone + "%0D%0A Assunto: " + assunto + "%0D%0A %0D%0A Atenciosamente, ";
    }
</script>
